@page
@model IndexModel
@{
    ViewData["Title"] = "Traveller Home";
}

<div class="panel panel-default">
        <div class="panel-heading">Membership</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
            <dt>Gym</dt>
             <dd>@Model.LosPageModel.Group.Name</dd>
            <dt>Group</dt>
            <dd>@Model.LosPageModel.Group.Description</dd>
            </dl>
            <a asp-page="/Group/{@Model.LosPageModel.Group.Id}" class="btn btn-primary btn-sm btn-block" role="button">More info</a>
        </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Upcoming trip</div>
        <div class="panel-body">
            <table class="table">
                <tr><td><strong>Going to</strong></td><td>UNKNOWN</td></tr>
                <tr><td>Departure date</td><td>@Model.LosPageModel.Group.DepartureDate</td></tr>
                <tr><td>Return date</td><td>@Model.LosPageModel.Group.ReturnDate</td></tr>
            </table>
            <a asp-page="/Travel/{@Model.LosPageModel.Group.Id}" class="btn btn-primary btn-sm btn-block" role="button">More info</a>
        </div>
</div>