@page
@model RequestSecurityCodeModel
@{
    ViewData["Title"] = "Get Security Code";
}

<h2>@ViewData["Title"]</h2>
<p>To request a Security Code, enter the email and firstname for the account your
    have been registered with in the CheerTravel booking system.</p>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Request Security Code.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.Firstname"></label>
                <input asp-for="Input.Firstname" class="form-control" />
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Request Security Code</button>
        </form>
        @{             
            if(@Model.Status == "ok")  {
            <div>
            <p>An email have been sent to your email-address, with a security code. The security code is
                valid for 2 hours. Locate the security code, and head back to the register page
                to finish you registration.
            </p>
            <a href="Register" class="btn btn-primary" role="link">Back to register</a>
            </div>
            }
            if(@Model.Status == "nomatch") {
            <div>
            <p>The system was unable to find a match for your email in the system. Please contact
                CheerTravel support for help
            </p>
            </div>
            }
            }
   </div>
</div>